body, h1, h2, div {
	font-family: sans-serif;
}

html,body {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
}

.contents {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}

h1 {
	color: red;
}

a {
	text-decoration: none;
}

th {
	text-align: left;
}

.header {
	background-color: #dddddd;
	padding: 3px;
}

.header a {
	color: #333333;
}